<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    
      <!--Environments URLs-->
      <add key="WebApppUrl" value="http://localhost/6.3.3.0_WebApp/Pages/" />
      <add key="createBookingurl" value="http://localhost/6.3.3.0_WebApp/Pages/BookingEdit.aspx" />
      <add key="diaryPage" value="http://localhost/6.3.3.0_WebApp/Pages/Index.aspx" />

    <add key="ChromeDriverPath" value="E:\\Sel\\GetDock_driver\\chromedriver" />

        <!--Valid login Credentials-->
      <add key="ValidUsername" value="gg" />
      <add key="ValidPassword" value="gg" />
    
     <!--CreateSimpleBooking-->
    <add key="HostName_CreateBooking" value="Andrew Georgescu" />
    <add key="RequesterName_CreateBooking" value="priya Cucu" />
    
    <!--CreateBooking With Multiple Addons and Visiter-->
    <add key="Addon1" value="Milk / Lait" />
    <add key="Addon2" value="Juice / Jus" />
    <add key="InternalVisitorname" value="priyacontact" />
    
    <!--UpdateBookingWithNewAddon-->
    <add key="Addon3" value="Tea / Thé" />
    <!--add key="Addon4" value="Cheese Tray / Plateau de fromages"-->
    
    
    <!--Enter Addon Name and department Name and Property Name To set Addon Notification Message -->
    <add key="AddonNameForNotificationCheck" value="Cake" />
    <add key="PropertyName" value="Toronto - NEW" />
    <add key="DepartName" value="Catering / Service de traiteur" />
    <add key="AddonNotificationMessage" value="assddad#$%^" />
    
    
    <!--Enter Addon Name and Property name For Addon Stock-->
    <add key="AddonNaME" value="Bread (Garlic)" />
    <add key="PropertyName" value="Toronto - NEW" />


    <!--Enter Addon Name and Property name to Verify AddonCutOff Period of 1PM-->
    <add key="AddonNameA" value="Cheese Tray / Plateau de fromages" />
    <add key="PropertyNameP" value="Toronto - NEW" />

    <!--update special request for recurring booking-->
    <add key="SpecialRequest" value="Room Should Have Garden View" />



    <!--Create New Booking Credentials-->
    <add key="Title" value="Test005" />
    <add key="FromDate" value="15/01/2018 10:00 AM" />
    <add key="ToDate" value="15/01/2018 11:00 AM" />
    <add key="InternalVisitorName" value="priyacontact" />
    
  <!--Receiver For Quick COnfirmation Report-->
    <add key="Receiver_ForQuickCOnfirmationReport" value="PriyankaP@nfstechgroup.com" />

 <!--All User Diary-->
       <!--Timezone for primary property-->
      <add key="TimeZoneForPrimaryProperty" value="(UTC+05:30) India Standard Time" />
    
       <!--Update Display Name Of existing User-->
      <add key="UpdatedDisplayNameForUser" value="george g" />
    
       <!--Build Date And Version of build-->
       <add key="BuildDate" value="2018.07.20" />
       <add key="BuildVersion" value="6.3.3.1" />
    
 <!--update primary property of user--> 
      <add key="PrimaryProperty" value="Calgary" />
  <!--Revert back primary property to existing one-->
      <add key="revertprimaryProperty" value="Toronto - NEW" /> 
   
  <!--Booking search Page-->
     <!--Enter Booking title to createBooking From search Page-->
     <add key="BookingTitle" value="Bookif678Ss" />
    
   <!--Authrization Request page-->
    <!--Enter Booking title for Authization Request-->
    <add key="BookingTitleForAuthrization" value="AuthrizationRequestBooking100"/>
   
      <!--Invalid Login Credentials-->
    <add key="InvalidUsername" value="invalid"/>
      <add key="InvalidPassword" value="invalidss23232"/>
    
     <!--Enter Existing Booking Details for BookingSearch-->
    <add key="SearchBooking_Title" value="TestSearch" />
    <add key="SearchBooking_RefNumber" value="M7776" />
    <add key="SearchBooking_FromDate" value="15/06/2018" />
    <add key="SearchBooking_ToDate" value="15/06/2018" />
    <add key="SearchBooking_Host" value="George g" />
    <add key="BookingType" value="BLGU / U de BLG" />
    <add key="Property" value="Toronto - NEW" />
    <add key="BookingSTatus" value="Confirmed / Confirmé" />
     
    <add key="Ref900" value=""/>
    
    <!--Enter new Booking details for UpdateBooking-->

    <!--add key="New_Title" value="UpdatedBookingTesT" />
    <add key="New_Host" value="Prince" />
    <add key="New_Requester" value="John" />
    <add key="Notes" value="Updating... the Booking wait for moment :) :)" />
    <add key="SpecialRequest" value="Room Should Have Garden View" />
    <add key="participants_Count" value="3" /-->
    
   
  <!--Create External Visitor-->
    <!--add key="ExternalVisitorLastName" value="Dhawale"/>
    <add key="ExternalVisitorFirstName" value="Pragati"/>
    <add key="ExternalVisitorhosttName" value="george"/-->
  
  <!--Create Internal Visitor-->
    <!--add key="InternalVisitlastname" value="pradhan"/>
    <add key="InternalVisitorsFirstname" value="dhanu"/-->
      



  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>